<!-- 添加捐赠图标 -->
    <div class ="post-donate">
        <div id="donate_board" class="donate_bar">
            <a id="btn_donate" href="#" title="Donate 打赏"></a>
            <br>
            <span class="donate_txt">如果你觉得这篇文章让你受益匪浅，欢迎捐赠以鼓励作者！</span>
            <br>
        </div>  
  
        <div id="donate_guide" class="donate_bar hidden">
            <!-- 支付宝打赏图案 -->
            <img src="{{ site.donate_alipay_image_link }}" class="mlr5" title="支付宝打赏" >
            <!-- 微信打赏图案 -->
            <img src="{{ site.donate_wechat_image_link }}" class="mlr5" title="微信打赏">
        </div>
  
        <script type="text/javascript">
        document.getElementById('btn_donate').onclick = function(){
            $('#donate_board').addClass('hidden');
            $('#donate_guide').removeClass('hidden');
        }
        document.getElementById('donate_guide').onclick = function(){
            $('#donate_board').removeClass('hidden');
            $('#donate_guide').addClass('hidden');
        }
        </script>
    </div>
<!-- 添加捐赠图标 -->
